main {
  width: 100%;
  background-color: #F0F0F0;
  padding: 114px 180px 140px 180px;

  @media (max-width: 1920px) {
    padding: 114px 140px 140px 140px;
  }

  @media (max-width: 1440px) {
    padding: 60px 100px 80px 100px;
  }

  @media (max-width: 1024px) {
    padding: 50px 60px 60px 60px;
  }

  @media (max-width: 768px) {
    padding: 40px 40px 50px 40px;
  }

  @media (max-width: 520px) {
    padding: 30px 30px 40px 30px;
  }
}

.chapter {
  font-family: "PP Telegraf", sans-serif;
  font-size: 48px;
  color: #1E1E1E;

  @media (max-width: 1440px) {
    font-size: 38px;
  }

  @media (max-width: 1024px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 22px;
  }

  @media (max-width: 520px) {
    font-size: 16px;
  }
}